week_3/day_16/.env
week_3/day_16/products.json
week_3/day_16/purchases.json
week_3/day_16/Loggeer_Summary.txt
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/products.json
**/purchases.json
**/Logger_Summary.txt
**/.env
**/config.py
**/gitignore
week_3/day_21/day_21.log
week_3/day_21/output.txt
week_4/day_22.log
week_4/output.txt
week_4/tests.py
week_4/books.json
week_4/progress.json
week_4/day_23/day_23.log
